<h1>All photos</h1>
<div>
<%= link_to "New photo", new_photo_path %>
</div>
<% @photos.each do |photo| %>
<img src="<%= photo.image_url%>" >
<div>
<a href="/photos/<%= photo.id %>">View Photo Details</a>
</div>

<% end %>


